<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- fontawsom -->
    <link rel="stylesheet" href="asset/css/all.min.css">
    <!-- bootstrap icon -->
    <link rel="stylesheet" href="asset/css/bootstrap-icons.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="asset/css/bootstrap.min.css">
    <!-- css -->
    <link rel="stylesheet" href="asset/css/style.css">
</head>
<body data-bs-theme="dark" class="bg-black">
    
    <%- include('partial/header.ejs') %>
    <!-- login -->
    
    <section class="" style="margin-top: 8rem;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="border border-info p-5 rounded-3">
                        <h2 class="text-center">Login <i class="bi bi-box-arrow-in-right"></i></h2>
                        <form action="/login" method="post">
                            <label class="form-label text-info-emphasis fw-semibold" for="">Username</label>
                            <input type="text" name="username" class="form-control p-3 mb-5 focus-ring focus-ring-dark border-info bg-black border text-info-emphasis">
                            <label for="" class="form-label text-info-emphasis">Password</label>
                            <input type="text" name="password" class="form-control p-3 mb-5 focus-ring focus-ring-dark bg-black border-info border text-info-emphasis">
                            <button class="btn btn-outline-info w-100 py-2 mb-4">Login</button>
                            <a href="/creat" class="btn btn-outline-info d-block py-2 ">Creat account</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- JQuery -->
    <script src="asset/js/code.jquery.com_jquery-3.7.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="asset/js/bootstrap.bundle.min.js"></script>
    <!-- main js -->
    <script src="asset/js/main.js"></script>
</body>
</html>